name: Deploy Cloudflared in Webdock K3s

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create deployment.yaml
        env:
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_KEY: ${{ secrets.SSH_KEY }}
          CLOUDFLARED_TOKEN: ${{ secrets.CLOUDFLARED_TOKEN }}
        run: |
          sudo echo "$SSH_KEY" > private_key.pem
          sudo chmod 600 private_key.pem

          ssh -o StrictHostKeyChecking=no -i private_key.pem $SSH_USER@$SSH_HOST << 'EOF'
          kubectl apply -f - <<EOL
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            labels:
              app: cloudflared
            name: cloudflared-deployment
            namespace: default
          spec:
            replicas: 1
            selector:
              matchLabels:
                pod: cloudflared
            template:
              metadata:
                creationTimestamp: null
                labels:
                  pod: cloudflared
              spec:
                containers:
                  - command:
                      - cloudflared
                      - tunnel
                      - --no-autoupdate
                      - --loglevel
                      - debug
                      - --metrics
                      - 0.0.0.0:2000
                      - run
                    args:
                      - --token
                      - $CLOUDFLARED_TOKEN
                    image: cloudflare/cloudflared:latest
                    name: cloudflared
                    livenessProbe:
                      httpGet:
                        path: /ready
                        port: 2000
                      failureThreshold: 1
                      initialDelaySeconds: 10
                      periodSeconds: 10
          EOL
          EOF
          kubectl rollout status deployment/cloudflared-deployment
