name: Manage Kubernetes Cluster

on:
  schedule:
    # Stop cluster at 11 PM UTC
    - cron: '0 23 * * *'
    # Start cluster at 7 AM UTC
    - cron: '0 7 * * *'

jobs:
  stop-cluster:
    if: github.event.schedule == '0 23 * * *'
    runs-on: ubuntu-latest
    steps:
      - name: Set up doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_API_TOKEN }}

      - name: Authenticate with DigitalOcean
        run: doctl auth init -t ${{ secrets.DO_API_TOKEN }}

      - name: Stop Kubernetes Cluster
        run: |
          CLUSTER_ID=$(doctl kubernetes cluster list --format ID --no-header)
          doctl kubernetes cluster delete $CLUSTER_ID --force

  start-cluster:
    if: github.event.schedule == '0 7 * * *'
    runs-on: ubuntu-latest
    steps:
      - name: Set up doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_API_TOKEN }}

      - name: Authenticate with DigitalOcean
        run: doctl auth init -t ${{ secrets.DO_API_TOKEN }}

      - name: Create Kubernetes Cluster
        run: |
          doctl kubernetes cluster create my-cluster \
            --region fra1 \
            --version 1.30.4-do.0 \
            --size s-2vcpu-4gb \
            --count 1
