name: Manage Kubernetes Cluster
#on:
#  schedule:
#    # Stop cluster at 11 PM UTC on weekdays
#    - cron: '0 18 * * 1-5'
#    # Start cluster at 7 AM UTC on weekdays
#    - cron: '0 6 * * 1-5'

env:
  CLUSTER_NAME: ${{ vars.CLUSTER_NAME }}

jobs:
  stop-cluster:
    if: github.event.schedule == '0 18 * * 1-5'
    runs-on: ubuntu-latest
    steps:
      - name: Set up doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_API_TOKEN }}

      - name: Authenticate with DigitalOcean
        run: doctl auth init -t ${{ secrets.DO_API_TOKEN }}

      - name: Stop Kubernetes Cluster
        run: |
          doctl kubernetes cluster delete ${{ env.CLUSTER_NAME }} --force

  start-cluster:
    if: github.event.schedule == '0 6 * * 1-5'
    runs-on: ubuntu-latest
    steps:
      - name: Set up doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_API_TOKEN }}

      - name: Authenticate with DigitalOcean
        run: doctl auth init -t ${{ secrets.DO_API_TOKEN }}

      - name: Create Kubernetes Cluster
        run: |
          doctl kubernetes cluster create ${{ env.CLUSTER_NAME }} \
            --region fra1 \
            --version 1.31.1-do.0 \
            --size s-1vcpu-2gb \
            --count 1
